#singleChatView {
    border: 2px solid aquamarine;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    /* width: 30%; */
    background-color: aquamarine;
    padding: 8px;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}